* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Lato", sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.button {
  cursor: pointer;
}

.pinkWord {
  color: #f16d7f;
}

.link {
  text-decoration: none;
}

.header {
  background-color: #ffffff;
  border: 1px solid #ececec;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
}

.headerTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
}

.headerTop__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerTop__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerTop__cart {
  width: 32px;
  height: 29px;
  border: none;
  background: url(../img/header/cart.svg) no-repeat center;
  margin-right: 26px;
}

.headerTop__auth {
  background-color: #f16d7f;
  color: #fff;
  border: 1px solid #fff;
  padding: 11px 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
}

.headerTop__auth:hover {
  color: #f16d7f;
  background-color: #fff;
  border: 1px solid #f16d7f;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.headerTop__auth > .fa {
  margin-left: 8px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 37px;
}

.logo__icon {
  margin-right: 13px;
}

.logo__title {
  font: 300 27px/32px "Lato";
  text-transform: uppercase;
  color: #222222;
}

.logo__title_pinkLetter {
  font-weight: 900;
  color: #f16d7f;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search__que {
  width: 281px;
  padding: 0 16px;
  border: 1px solid #e6e6e6;
}

.search__enter {
  width: 36px;
  background: url(../img/header/searchButton.png) no-repeat center;
  border: 1px solid #e6e6e6;
}

#browse[open] > summary.browse > .fa-caret-right {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.fa-caret-right {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.browse {
  font: 300 14px/32px "Lato";
  color: #222222;
  background-color: #cdcdcc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  border: 1px solid #e6e6e6;
  border-radius: 3px 0px 0px 3px;
  padding: 2px 10px;
  list-style-type: none;
  cursor: pointer;
}

.browse__name {
  margin-right: 8px;
}

.browse__down {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  padding: 20px 15px;
  border: 1px solid #e8e8e8;
}

.browse__down::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: -7px;
  left: 64px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}

.browse__subtitle {
  width: 236px;
  font: 400 14px/32px "Lato";
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #232323;
  border-bottom: 1px solid #e8e8e8;
}

.browse__subtitle_next {
  margin-top: 20px;
}

.browse__link {
  display: block;
  font: 400 14px/28px "Lato";
  letter-spacing: 0.025em;
  color: #4f4f4f;
}

.browse__link:hover {
  color: #f16d7f;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 690px;
  margin: 0 auto;
  list-style-type: none;
  position: relative;
}

.navLinks__link {
  font: 700 14px/26px "Lato";
  color: #222222;
  text-transform: uppercase;
  padding: 20px;
}

.navLinks__item:hover .browse__down_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.browse__down_menu {
  display: none;
  padding: 20px 25px;
  top: 50px;
  left: 82px;
  border-radius: 5px;
}

.browse__down_menu::before {
  left: 31px;
}

.browse__down_women::before {
  left: 117px;
}

.browse__down_kids::before {
  left: 198px;
}

.browse__down_accesoriese::before {
  left: 302px;
}

.browse__down_featured::before {
  left: 424px;
}

.browse__down_hotDeals::before {
  left: 538px;
}

.megaMenu__Column {
  margin-right: 46px;
}

.megaMenu__Column_last {
  margin-right: 0;
}

.megaMenu__Block_last {
  margin-top: 23px;
}

.megaMenu__img {
  margin-top: 47px;
  position: relative;
  width: 255px;
  height: 118px;
  background: url(../img/header/menu_img.png) no-repeat center/cover;
}

.megaMenu__imgDesc {
  position: absolute;
  text-transform: uppercase;
  top: 61px;
  right: 10px;
  font: 900 22px/28px "Lato";
  color: #fff;
}

.Banner {
  height: 614px;
  background: url(../img/header/header_bg.png) no-repeat top center/cover;
}

.BannerTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 224px;
}

.BannerTitle__verticalLine {
  width: 12px;
  background-color: #f16d7f;
  margin-right: 12px;
  height: 87px;
}

.BannerTitle__text {
  font: 900 60px/42px "Lato";
  color: #222222;
}

.BannerTitle__text_secondLine {
  font-size: 40px;
}

.offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 98px auto 100px;
}

.Column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Column_reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.Column__bigItem {
  height: 542px;
  width: 560px;
  margin: 0 20px 20px 0;
}

.Column__bigItem_forMen {
  background: url(../img/offers/men.png) no-repeat center/cover;
}

.Column__bigItem_forKids {
  background: url(../img/offers/forKids.png) no-repeat center/cover;
}

.Column__lilItem {
  width: 560px;
  height: 261px;
  margin: 0 20px 20px 0;
}

.Column__lilItem_accesories {
  background: url(../img/offers/accesories.png) no-repeat center/cover;
}

.Column__lilItem_forWomen {
  background: url(../img/offers/forWomen.png) no-repeat center/cover;
}

.offerTitle {
  display: block;
  background-color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 82px;
  margin-top: 26px;
  padding: 16px 20px;
  font-family: Lato;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #222222;
}

.offerTitle_pinkWords {
  font-size: 30px;
}

.featuredItems {
  text-align: center;
}

.featuredItems__title {
  font: 700 30px "Lato";
  color: #222222;
  margin-bottom: 16px;
}

.featuredItems__text {
  font: 400 14px "Lato";
  color: #9f9f9f;
  margin-bottom: 60px;
}

.featuredItems__button {
  background-color: #f16d7f;
  border: 1px solid #fff;
  padding: 0 20px 0 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: 700 16px/54px "Lato";
  color: #fff;
}

.featuredItems__button:hover {
  color: #f16d7f;
  background-color: #fff;
  border: 1px solid #f16d7f;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.featuredItems__button > .fa {
  margin-left: 9px;
}

.itemsCardBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.productCard {
  margin: 39px 0;
  position: relative;
  display: block;
}

.productCard__desc {
  padding: 20px 15px;
}

.productCard__title {
  font: 13px "Lato";
  text-transform: uppercase;
  color: #222222;
}

.productCard__price {
  padding-top: 17px;
  font: 700 16px "Lato";
  text-transform: uppercase;
  color: #f16d7f;
}

.productCard:hover {
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.productCard:hover > .productCard__photo {
  -webkit-filter: brightness(0.25);
          filter: brightness(0.25);
}

.productCard:hover > .productCard__buy {
  display: inline-block;
}

.productCard__buy {
  display: none;
  border: 1px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  position: absolute;
  font: 700 13px "Lato";
  right: 70px;
  top: 98px;
  padding: 10px 15px 10px 43px;
  background: url(../img/product/bye.png) no-repeat 10px;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 132px;
}

.feature__banner {
  background: url(../img/feature/feature_bg.png) no-repeat center/cover;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  position: relative;
}

.feature__offer {
  display: block;
  font: 700 53.7px/1.2 "Lato";
  color: #ffffff;
  position: absolute;
  top: 146px;
  left: 40px;
}

.features {
  background-color: #222224;
  padding: 48px 43px 66px 32px;
}

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 54px;
  width: 300px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features__item:last-of-type {
  margin-bottom: 0;
}

.features__desc {
  max-width: 219px;
}

.features__title {
  font: 700 20px/24px "Lato";
  color: #fbfbfb;
  padding: 8px 3px 17px;
}

.features__text {
  font: 300 14px/24px "Lato";
  color: #fbfbfb;
}
/*# sourceMappingURL=style.css.map */